{# <script src="/assets/js/main.min.js"></script> #}
<script>
   new WOW().init();
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/49406327.js"></script>
<!-- End of HubSpot Embed Code -->
<script type="text/javascript">
   _linkedin_partner_id = "6541169";
   window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
   window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
   (function (l) {
      if (!l) {
         window.lintrk = function (a, b) { window.lintrk.q.push([a, b]) };
         window.lintrk.q = []
      }
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript"; b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);
   })(window.lintrk);
</script>
<noscript>
   <img height="1" width="1" style="display:none;" alt=""
      src="https://px.ads.linkedin.com/collect/?pid=6541169&fmt=gif" />
</noscript>
<!-- Save language preference when user manually switches -->
<script>
document.querySelectorAll('[data-set-lang]').forEach(function (el) {
  el.addEventListener('click', function () {
    try { localStorage.setItem('evernow-lang', this.getAttribute('data-set-lang')); } catch (e) {}
  });
});
</script>

<script src="/assets/js/main.min.js"></script>
{# <script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script> #}
<script>
$(document).ready(function () {
  $('.count').each(function () {
    $(this).prop('Counter', 0).animate({
      Counter: $(this).text()
    }, {
      duration: 3300,
      easing: 'swing',
      step: function (now) {
        $(this).text(Math.ceil(now));
      }
    });
  });
});
</script>
